	* {
	    margin: 0;
	    font-family: verdana;
	}
   
        /*DIVS*/ 


	/*HEADER*/

	.header {
		padding: 100px 0;
		margin: 0px;
		text-align: center;
  		text-shadow: 0 2px #000000;
		font-family: 'Trebuchet MS', Helvetica, sans-serif;
		background-image: url("https://image.prntscr.com/image/ad6466d539ad42afb9cba88cb95717d7.png");
		background-size: cover;
    	        color: #ffffff;
	}

	.header h2 {
  		font-size: 56px;
	}


	.header p {
	    font-size: 2rem;
	}

	/*FIM HEADER*/


	/*box-shadow: 0px 7px 13px #f2f2f2;*/

	.barra {
		position: fixed;
		width: 100%;
	}

	.centro {
  	        text-align: center;
	}

	.diario {
		margin-right: 30px;
                padding: 8px 18px;
		border: 1px solid #204156;
		display: block;
		width: 50%;
		text-align: justify;
	}

	.txt {
		width: 50%;
		text-align: justify;
	}

	/*FIM DIVS*/

	footer {
	    display: block;
	    background-color: #F8F8FF;
	    padding: 20px 20px;
	}

	ul {
	    margin: 0;
    	    list-style-type: none;	    
	    padding: 0;
	    overflow: hidden;
	    background-color: #F8F8FF;
	}

	li {
	    float: left;
	}

	li a {
	    font-family: verdana;
	    display: block;
	    color: black;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover {
	    color: white;
   	    background: #68B92C;
   	    transition:all 0.8s;
	}

	hr {
		width: 20%;
	}
